.category-item__title {
    font-weight: 500;
    font-size: 2rem;
    padding: 2rem;
    background-color: #000000;
    color: #fff;
    margin-top: 4rem;
    display: inline-block;
}

.category-item__image {
    height: 300px;
}

.category-item__container {
    margin-bottom: 2rem;
}

.category-item__latest-container {
    margin-top: 1rem;

    @include bp(large){
        margin-left: 2rem;
        margin-top: 4rem;

        span {
            margin-bottom: 1.2rem;
        }
    }

    span {
        margin-bottom: .8rem;
        display: inline-block;
    }
}

.category-item__latest-item {
    margin-bottom: .8rem;

    h2 {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    a {
        color: $black;
        text-decoration: underline;

        &:hover {
            color: $primary;
        }
    }
}

.category-item__link{
    text-align: center;
    padding: 2rem;
    color: $white;
    background-color: $primary;
    transition: .25s ease;

    &:hover {
        background-color: $primary-low;
    }

    &:hover img {
        margin-right: 5px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    span {
        display: block;
        color: $white;
    }
}